@media (max-width: 999px) {
  .casino-table__table-data_rank {
    display: none;
  }

  .casino-table__table-data_logo {
    grid-column: 1;
    grid-row: 1;
    order: 0;
    display: flex;
  }

  .casino-table__table-data_rating {
    grid-column: 2 / span 3;
    grid-row: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .casino-table__table-data_bonus-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
    order: 3;
    padding-left: 5px;
  }

  .casino-table__table-data_punteggio-1 {
    grid-column: 1;
    grid-row: 2;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .casino-table__table-data_punteggio-2 {
    grid-column: 2;
    grid-row: 2;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .casino-table__table-data_punteggio-3 {
    grid-column: 3;
    grid-row: 2;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .casino-table__table-data_bonus-2 {
    grid-column: 3 / span 2;
    grid-row: 2;
    order: 4;
  }

  .casino-table__table-data_info {
    grid-column: 1 / span 4;
    grid-row: 3;
    order: 1;
  }

  .casino-table__table-data_cta {
    grid-column: 1 / span 4;
    grid-row: 4;
    order: 5;
    width: auto;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.casino-table__casino-logo {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.casino-table__casino-logo-image {
  margin: auto;
  max-width: calc(120px - 20px - 2px);
  max-height: calc(60px - 20px - 2px);
  height: auto;
  width: auto;
  align-self: center;
}

.casino-table__table-data.casino-table__table-data_rating {
  font-weight: 700;
}


@media (max-width: 768px) {
  .border-table {
    border: 4px var(--bs-border-style) var(--bs-border-color) !important;
  }

  .casino-table__table-badge {
    display: none;
  }

  .casino-table__table-data_rank {
    display: none;
  }

  .casino-table__table-data_logo {
    grid-column: auto / span 1;
    grid-row: 1;
    order: 0;
    display: flex;
  }

  .casino-table__table-data_rating {
    grid-column: 2/span 5;
    grid-row: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .casino-table__table-data_bonus-1 {
    grid-column: 1/span 2;
    grid-row: 2;
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .casino-table__table-data_bonus-2 {
    grid-column: auto / span 4;
    grid-row: 2;
    order: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .casino-table__table-data_info {
    grid-column: 1 / span 6;
    grid-row: 3;
    order: 4;
  }

  .casino-table__table-data_cta {
    grid-column: 1 / span 6;
    grid-row: 4;
    order: 5;
    width: auto;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.casino-table__casino-logo {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.casino-table__casino-logo-image {
  margin: auto;
  max-width: calc(181px - 20px - 2px);
  max-height: calc(60px - 20px - 2px);
  height: auto;
  width: auto;
  align-self: center;
}

.scroll-pricing>.row {
  overflow-x: auto;
  white-space: nowrap
}

.scroll-pricing>.row>.col-sm-4 {
  display: inline-block;
  float: none
}

.container-scroll {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 75rem;
}
.container-scroll-bottom {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 75rem;
}

.navBar-scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11
}
.navBar-scroll-bottom {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  z-index: 10
}

.nav-scroll {
  margin: 0 -10px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}
.nav-scroll-bottom {
  margin: 0 -10px;
  padding: 0 10px;
  list-style: none;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}

.nav-scroll>li>a {
  padding: 14px 16px;
  display: block;
  color: var(--bs-heading-color, inherit);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  white-space: nowrap
}
.nav-scroll-bottom>li>a {
  padding: 14px 16px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  white-space: nowrap
}

.nav-scroll>li>a.active {
  border-bottom: 2px solid #000000
}
.nav-scroll-bottom>li>a.active {
  border-bottom: 2px solid #000000
}
.navbar-indice {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1;
  height: 50px;
  line-height: 47px;
  text-align: center;
  font-size: .9rem;
  white-space: nowrap;
  outline: 0;
}

@media (max-width:480px) {
  .navbar-indice {
    left: 0px;
    right: auto;
  }
  .navBar-scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 0
  }
  .navBar-scroll-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 48px
  }

  .container-scroll {
    margin-left: 6pc;
  }
  .container-scroll-bottom {
    margin-left: 0pc;
  }
}

.small-text{
  font-size: var(--bs-font-size-small) ;
}

.bg-slot-content {
  position: relative;
}

.bg-slot-content:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../images/bg-slot.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.bg-slot-content {
  position: relative;
}
