@font-face {
    font-family: 'DM Sans';
    src:url("../font/DMSans-Bold.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family: 'DM Sans';
    src:url("../font/DMSans-Medium.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:500;font-stretch:normal;
 }
@font-face {
        font-family: 'DM Sans';
        src:url("../font/DMSans-Regular.woff2") format("woff2");
        font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family: 'Poppins';
    src:url("../font/Poppins-Regular.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family: 'Poppins';
    src:url("../font/Poppins-Medium.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:500;font-stretch:normal;
}
@font-face {
    font-family: 'Poppins';
    src:url("../font/Poppins-Bold.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}